---
import Layout from '../layouts/Layout.astro';
---

<Layout title="VIEJOVEN">
	<div class="estructura">
		<div class="flex flex-col">
			<img src="/viejoven.png" alt="viejoven">
			<p class="micolor text-2xl text-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ullam non rerum voluptatum.</p>
		</div>
	</div>
	
</Layout>

<style>
  :root {
		background-color: whitesmoke;
	}
	.estructura {
		margin-top: 5%;
		margin-left: 10%;
		width: 80%;
	}
	.estructura div {
		width: 50%;
		height: auto;
	}
	.micolor{
		color: #203D91;
	}
</style>
