---
import Layout from "../layouts/Layout.astro";
---

<Layout title="VIEJOVEN">
	<div class="estructura">
		<!-- Logo y libro. Principio de la pagina -->
		<div class="section-logo flex flex-col justify-center items-center">
			<img class="" src="/viejoven.png" alt="viejoven" />
			<div class="text-logo micolor miletra text-3xl text-center">"Un Libro en mano, una camiseta puesta, el Viejoven siempre está de Fiesta."</div>
		</div>
		
		<img
			class="libro flex justify-end items-end"
			src="/libro.png"
			alt="libro"
		/>
		<!-- Descripcion -->
		<div id="descripcion" class="descripcion flex">
			<img src="/viejoven.png" alt="viejoven" />
			<div class="micolor miletra text-2xl flex items-center text-bold text-center">
				El libro “El Refranero de un Viejoven” es la pieza Principal del proyecto, desde la recopilación y selección de los refranes hasta su reinterpretación en un lenguaje moderno y actual.El libro presenta una serie de refranes tradicionales, cada uno acompañado de su explicación y reinterpretación contemporánea. Esta adaptación busca mantener la esencia de los refranes originales, adaptándolos al contexto y lenguaje de hoy en día.Cada refrán se presenta con una  tipografía que reflejan tanto el estilo tradicional como el moderno. Este enfoque resalta la dualidad entre el pasado y el presente, mostrando la relevancia de los refranes en la vida actual.
			</div>
		</div>
		<!-- Refranes -->
		<div id="refranes" class="refranes micolor miletra flex flex-wrap text-2xl">
			<div>No hay mal que por bien no venga.</div>
			<div>“Todo lo malo puede acabar yendo para bien.”</div>
			<div>El que tiene un Amigo Tiene un Tesoro.</div>

			<div class="mt-10">“Si cuentas con un Bro, ya tienes algo de valor.”</div>
			<div class="mt-10">Cuando el río suena, agua lleva.</div>
			<div class="mt-10">Donde hay confianza , da asco.</div>

			<div class="mt-10">Más vale pájaro en mano que ciento volando.</div>
		</div>
		<!-- Merchandaising -->
		<div id="merch" class="merch">
			<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
				<h2 class="text-2xl font-bold tracking-tight text-gray-900">Packagin & Shop</h2>
		
				<div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
					<div class="group relative">
						<div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-3xl bg-stone-400 lg:aspect-none group-hover:opacity-75 lg:h-80">
							<img src="packagin.png" alt="packagin" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
						</div>
					</div>
					<div class="group relative">
						<div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-3xl bg-stone-400 lg:aspect-none group-hover:opacity-75 lg:h-80">
							<img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg" alt="Merchandaising" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
						</div>
					</div>
					<div class="group relative">
						<div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-3xl bg-stone-400 lg:aspect-none group-hover:opacity-75 lg:h-80">
							<img src="packagin-2.png" alt="packagin2" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
						</div>
					</div>
					<div class="group relative">
						<div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-3xl bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
							<img src="libro.png" alt="libro." class="h-full w-full object-contain object-center lg:h-full lg:w-full">
						</div>
					</div>
		
					<!-- More products... -->
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	:root {
		/* background-color: whitesmoke; */
	}
	.estructura {
		margin-top: 5%;
		margin-left: 10%;
		width: 80%;
	}
	.section-logo {
		position: absolute;
		left: 40%;
		width: 50%;
	}
	.libro {
		left: 0;
		width: 35%;
		position: relative;
	}
	.logo {
		left: 40%;
		z-index: 1;
		position: absolute;
		width: 50%;
	}
	.text-logo {
		height: 15%;
		width: 60%;
		/* position: absolute;
		top: 30%;
		left: 46%; */
		/* font-family: ; */
	}
	.descripcion {
		margin-top: 10%;
	}
	.descripcion img {
		width: 50%;
	}
	.descripcion div {
		margin-left: 10%;
		width: 30%;
	}
	.refranes {
		margin-top: 10%;
	}
	.refranes div {
		margin-left: 8%;
	}
	.merch {
		margin-top: 10%;
	}
</style>
