---
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/viejoven.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body id="home" class="container-body">
		
		<!-- <div class="fondo"></div> -->

		<div class="container-page">
			<header class="flex justify-self-end items-center">
				<img src="/viejoven.png" alt="viejoven">
				<div class="menu flex justify-self-start items-center">
					<a data-scroll href="#home" class="ml-16 text-2xl text-stone-500">ABOUT</a>
					<a data-scroll href="#descripcion" class="ml-16 text-2xl text-stone-500">PRODUCT</a>
					<a data-scroll href="#refranes" class="ml-16 text-2xl text-stone-500">CONTACT</a>
					<a data-scroll href="#merch" class="ml-16 text-2xl text-stone-500">SHOP</a>
				</div>
			</header>
			<div class="raya bg-stone-400"></div>
			
	
			<slot />
		</div>
	</body>
</html>

<style is:global>
	:root {
		scroll-behavior: smooth;
	}
	* {
		border: 0px solid red;
	}
	.menu {
		width: 100%;
	}
	.container-body {
		position: relative;
		height: 100%;
		width: 100%;
		overflow: scroll;
	}
	.fondo {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url("/paper.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 30%;
	}
	.container-page {
		position: relative;
		z-index: 1;
	}
	.raya {
		margin-left: 5%;
		width: 90%;
		height: 2px;
	}
	.micolor{
		color: #203D91;
	}
	header {
		height: 75px;
	}
	header div {
		height: 70%;
		width: 20%;
		margin-left: 5%;
	}
	header img {
		margin-left: 5%;
		width: auto;
		height: 90%;
	}
</style>
